#%RAML 1.0
---

title: Individuals Employments
version: 2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Data availability
   content: !include docs/data-availability.md
 - title: Data quality
   content: !include docs/data-quality.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/employments:
  /:
    get:
      displayName: Get a list of all available endpoints
      description: Use this endpoint to get a list of available endpoints for Individuals Employments.
      is: [headers.acceptHeader]
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      (annotations.sandboxData): !include sandbox/root.md
      headers:
        CorrelationId:
          description: !include ./includes/correlationId.md
          type: string
          example: 58072660-1df9-4deb-b4ca-cd2d7f96e480
      queryParameters:
        matchId:
          description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          required: true
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      responses:
        200:
          description: The resource available to view an individual's employments
          body:
            application/json:
              example: !include examples/root.json
              type: !include schemas/root.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /paye:
    get:
      displayName: Get employment details
      description: !include docs/employments-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      (annotations.sandboxData): !include sandbox/employments-request.md
      headers:
        CorrelationId:
          description: !include ./includes/correlationId.md
          type: string
          example: 58072660-1df9-4deb-b4ca-cd2d7f96e480
      queryParameters:
        matchId:
          description: A short-lived universally unique identifier (UUID), typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          required: true
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromDate:
          description: !include docs/employment-query-from-date.md
          type: string
          required: true
          example: 2019-01-01
        toDate:
          description: !include docs/employment-query-to-date.md
          type: string
          required: false
          example: 2020-03-01
      responses:
        200:
          description: The individual PAYE employments for the given period
          body:
            application/json:
              example: !include examples/employments-response.json
              type: !include schemas/employments-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
